repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        args: [ --config=backend/pyproject.toml ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--config=backend/pyproject.toml]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--config=backend/pyproject.toml]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run --directory backend mypy
        language: system
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run --directory backend pytest
        language: system
        pass_filenames: false
        always_run: true
        stages: [ pre-push ]
